body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('https://i.pinimg.com/originals/51/12/22/5112227e948a623f7b6498ec7934f770.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: auto;*/
}
html{
  background-image: url('https://i.pinimg.com/originals/51/12/22/5112227e948a623f7b6498ec7934f770.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
